<router-outlet></router-outlet>
<div class="center-div">
  <div class="tituTabla">
    <h1 class="t-table">Inicio de sesión Backup</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <button mat-raised-button style="background:#1e878f" (click)="login()">Ingresar</button>
   
  </div>
</div>