
<body>

  <div>
    <div class="container">
      <form [formGroup]="form">
        <h1>Ingrese datos de pacientes</h1>
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="idpaciente" readonly>
        </mat-form-field>
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput required placeholder="correo" formControlName="correopaciente">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="nacimientopaciente" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="usuario" [(value)]="idusuarioseleccionado" required>
            <mat-option *ngFor="let u of lista" [value]="u.idusuario">
              {{u.nameusuario}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <br>

        <div style="text-align: center">
          <button mat-icon-button color="primary" class="purple-button">
            <mat-icon>check</mat-icon>
          </button>  
          <button mat-icon-button color="warn" class="black-button"  routerLink="/paciente"><mat-icon>cancel</mat-icon></button>
        </div>
        
        <p>{{mensaje}}</p>
      </form>
    </div>
  </div>
  
</body>
