.custom-button {
  background-color: rgb(140, 82, 143); /* Color morado personalizado */
  color: #ffffff; /* Color blanco para el texto */
  margin-bottom: 10px; /* Margen inferior para separar los botones */

}